@import "tailwindcss";

html, body {
  @apply bg-sentra-travertine text-sentra-midnightDeck;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #F9F4E8;
  --foreground: #16202B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F4E8;
    --foreground: #16202B;
  }
}
